<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".mp3" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="01:00:00" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
